



@import url('https://fonts.googleapis.com/css?family=Bilbo|Monserrat:700|Source+Sans+Pro:300|Caveat|Amiri:700i|Do+Hyeon|Indie+Flower');
#overlay {background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(./images/planning.jpg) no-repeat; 
  background-size: cover; 
  min-height: 100vh;
  width: 100%; 
  height: 66.67vh;
  text-align: center;
}
   
#overlay h3 {font-family: 'Bilbo', cursive; font-size: 5vw; 
  color: #FFFFFF; 
  margin: 0; padding-top: 100px;
} 

#overlay h2 {
  font-family: 'Montserrat', sans-serif; 
  font-size: 7vw; color: #FFFFFF; margin: 0;
} 
  
#overlay p {
  display: inline-block; 
  width: 33%; 
  color: #FFFFFF; 
  font-family: 'Indie Flower', cursive; 
  font-size: 2vw; 
  padding-left: 15px; 
  margin-top: 20px;
} 
  
#login {
  position:absolute; 
  left: 90%; 
  top: 10%; 
  font-size: 4vh; 
  color: #FFFFFF; 
  letter-spacing: 2px
} 
  
.button {
  background-color: rgb(54, 179, 168); 
  color: #FFFFFF; 
  padding: 1vw; 
  border-style: solid;border-radius: 25%; 
  opacity: .9; border-color: #FFFFFF; 
  font-size: 2vw; 
  margin-top: 5vw; 
  font-family: 'Source Sans Pro', sans-serif; 
  font-weight: lighter;
}

#paragraphs {background: url(./images/horizon.jpeg) no-repeat; 
  background-size: cover; 
  text-align: center; 
  margin-top: 20px 
} 

.description1 {
  font-family: 'Caveat', cursive; 
  padding: 50px 100px 25px 100px; 
  font-size: 4vw; 
  font-weight: lighter; 
  margin-top: 0;} .description2 {font-family: 'Work Sans', sans-serif; 
  padding: 0px 200px 100px 200px; 
  font-size: 2vw; 
  font-weight: bold; 
  letter-spacing: 2px
} 

 #footer {
  width: 100%;
} 

 #overlay img {
  position: absolute; 
  left: 10px;
} 

#footer {
  min-height: 65px;
  /* background-color: #d9d9d9; */
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  color: white;
  opacity: 0.95;
  display: flex;
  align-items: center;
} 
/* #footer img {
  float: right;
}  */

#team-info {
  text-align: center;
  display: flex;
  justify-content: space-between;
  font-family: monospace;
  font-family: 'Montserrat', sans-serif;
}

#team-info p {
  font-family: 'Do Hyeon', sans-serif; 
  font-size: 1.5em; 
  letter-spacing: 3px; 
  color: #1a1a1a;
} 

.vasyl {
  padding: 0;
} 

a:hover {
  color: #809fff;
}


.bactrians {
  display: flex;
  align-items: center;
}

.bactrians a {
  padding: 0 2rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 15px;
}

.bactrians a:hover {
  color: aqua;
}

.bactrians img {
  padding-left: 2rem;
} 

.members {
  display: flex;
  align-items: center;
}